*.class
*.tasty
*.log

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# IntelliJ IDEA
.idea/
*.iml
.bsp/

# Compiled Scala files
target/
**/target/

# Scala build tooling
.bloop/
.metals/
project/.bloop/
project/project

# Secrets etc.
.env

# cellar local cache/state (keep .cellar/cellar.conf)
.cellar/cache/
.cellar/.telemetry-seen
